<div class="jumbotron">
  <div class="container">
    <h1>What Is GitFree</h1>
    <p>GitFree is an up-coming web-based Git repository hosting service</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Repositories</h2>
      <p>Unlimited public and private repositories for both casual users and groups or companies</p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Groups and Companies</h2>
      <p>Invite anyone by just sending an email! </p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
   </div>
    <div class="col-md-4">
      <h2>Awesome Design</h2>
      <p>Easy to use and fun UI</p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
  </div>


</div> <!-- /container -->